body {
    background-color: lightgray;
    margin: 0;
    font-family: Garamond, serif;
}

.page {
    max-width: 600px;
    margin: auto;
}

.content {
    display: flex;
    gap: 10px;
}


.fish header {
    background-color: #01161E;
    padding: 10px;
}

.fish .sidebar {
    background-color: #598392;
    padding: 20px;
}

.fish .main {
    background-color: #AEC3B0;
    padding: 20px;
}

.fish footer {
    background-color: #EFF6E0;
    padding: 10px;
}

.herps header {
    background-color: #E63946;
    padding: 10px;
}

.herps .sidebar {
    background-color: #A8DADC;
    padding: 20px;
}

.herps .main {
    background-color: #457B9D;
    padding: 20px;
}

.herps footer {
    background-color: #1D3557;
    padding: 10px;
    color: white;
}

.herps .content {
    flex-direction: row-reverse;
}
